// Custom styles.
.posts-expand .post-tags {
  line-height: 18px;
  font-weight: 400;
  font-size: 10px;
  span {
    position: relative;
    display: inline-block;
  }

  a {
    font-size: 13px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    padding: 0 5px 0 10px;
    border-radius: 0 5px 5px 0;
    border: none;
  }
  a:before {
    content: ".";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -18px;
    border: 9px solid transparent;
  }
  a:after {
    content: ".";
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    position: absolute;
    top: 7px;
    left: 3px;
  }
  a.color1 {
    background: rgb(239, 166, 112);
  }
  a.color1:before {
    border-right-color: rgb(239, 166, 112);
  }
  a.color2 {
    background: rgb(230, 135, 130);
  }
  a.color2:before {
    border-right-color: rgb(230, 135, 130);
  }
  a.color3 {
    background: rgb(224, 150, 233);
  }
  a.color3:before {
    border-right-color: rgb(224, 150, 233);
  }
  a.color4 {
    background: rgb(152, 142, 227);
  }
  a.color4:before {
    border-right-color: rgb(152, 142, 227);
  }
  a.color0 {
    background: rgb(122, 163, 229);
  }
  a.color0:before {
    border-right-color: rgb(122, 163, 229);
  }
}
